*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 581px;
    position: relative;
    overflow: hidden;
    
}

#top-lb{
    width: 2700px;
    position: absolute;
    transition: all .5s;
}
.change{
    width: 100px;
    height: 100px;
    font-size: 24px;
    border: 1px solid black;
    background-color:rgba(128, 128, 128, 0.336);
    position: relative;
    top: 400px;
    left: 1150px;
    margin-right: 50px;
    cursor: pointer;

}
#top-lb img{
    width: 1350px;
    float: left;
    
}
.top-nav img{
  position: relative;
  top: 25px;
  left: 200px;
  cursor: pointer; 
}
.header ul{
    float: right;
}
.header ul li{
    display: inline;
    line-height: 100px;
    position: relative;
    right:150px;
    padding: 10px;  
}
.header ul li a{
    color: #fff;
}
.header ul li a:hover{
    color: black;
    transition: all .3s;
}
.main1{
    width: 100%;
    height: 354px;
   
}
.main1-head{
    width: 1170px;
    height: 229px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.main1-h2{
    text-align: center;
    font-size: 26px;
    color: #000;
    font-weight: 500;
    
}
#itl{
    font-style: italic;
}
.main1-2{
    height: 170px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid gray;
    
}
.w{
    width: 292px;
    height: 129px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 50px;
    margin-top: 30px;
}
.main1-bg1{
    background-image: url(../images//s-web.png);
}
.main1-bg2{
    background-image: url(../images//s-yy.png);
}
.main1-bg3{
    background-image: url(../images//s-yx.png);
}
.main1-bg4{
    background-image: url(../images//s-pp.png);
}
.h1{
  position: relative;
  left: 70px;
  margin-top: 38px;
  font-size: 20px;
  font-weight: 500;
}
.main1-head p{
    color: gray;
}
.p{
    margin-top: 5px;
}
.h1 p{
    font-size: 15px;
}
.p1{
    margin-top: 25px;
}
.main2{
    width: 100%;
    height: 443px;
    background-image: url(../images//bg-1.jpg);
}
.main2-head{
    width: 1170px;
    height: 333px;
    /* background-color: green; */
    
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.main2-h2{
    text-align: center;
    font-size: 26px;
    color: #000;
    font-weight: 500;
}
.main2-h2 a{
    color: white;
}
.main2-h2 a:hover{
    transition: all .3s;
    color: skyblue;
}
.main2-h2 span{
    color: white;
    
}
.main2-2{
    margin-top: 20px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}
.m img{
    width: 265px;
    height: 190px;
}
.m{
    width: 292px;
    height: 234px;
    /* background-color: lightsteelblue; */
    margin-top: 40px;
}
.m h4{
    text-align: center;
    line-height: 35px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.m:hover{
    transition: all .5s;
    opacity:0.8;
}
.main3{
    width: 100%;
    height: 365px;
    background-color: maroon;
    position: relative;
    top: 110px;
    background-image: url(../images//bg-2.gif);
}
.main3-m{
    width: 1170px;
    height: 275px;
    margin: 0 auto;
    position: relative;
    top: 50px;
 
}
.main3-h2{
    text-align: center;
    font-size: 26px;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5 ;
    padding-bottom: 25px;
  
}
.main3-2{
    display: flex;
    justify-content: space-around;
}
.b{
    width: 136px;
    height: 136px;
    margin: 40px auto;
    border: 2px solid #69afde;
    border-radius: 50%;
    text-align: center;
    transition: all .8s ease-in-out;
}
.b span{
    position: relative;
    top: 38px;
    line-height: 30px;
    color: #777;
    font-size: 14px;
}
.b:hover{
    transform: rotate(360deg);
}
.main4{
    width: 100%;
    height: 705px;
    background: black;
    position: relative;
    top: 85px;
    overflow: hidden;
}
.main4-1{
    width: 1024px;
    height: 229px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.main4-h2{
    text-align: center;
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    
    border-bottom: 1px solid #e5e5e5 ;
    padding-bottom: 25px;
}
#main4-img1{
    width: 1026px;
    overflow: hidden;
   position: relative;
   top: -80px;
    margin: 0 auto;
}
#main4-img{
    width: 4600px;
    transition: all .5s;
}
.main4-2{
    text-align: center;
    color: #fff;
    position: relative;
    top: -50px;
    line-height: 50px;
}
.main4-2 h3{
    font-size: 26px;
    font-weight: 500;
}
.main4-2 p{
    font-size: 13.8px;
}
.direction{
    position: absolute;
    bottom: -5px;
    left: 708px;
    margin: 50px 0; 
 
}
.dir{
    width: 40px;
    height: 40px;
    background: none;
    color: cornsilk;
    margin-right: 20px;
    cursor: pointer;
}
.dir:hover{
    transition: all .2s;
   background:rgba(245, 245, 245, 0.678);
}
.main5{
    width: 100%;
    height: 796px;
    position: relative;
    top: 85px;
}
.main5-1{
    width: 1170px;
    height: 275px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.main5-h2{
    text-align: center;
    font-size: 26px;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5 ;
    padding-bottom: 25px;
   
}
.main5-2{
    width: 1170px;
    height: 640px;
    position: relative;
    top: -130px;
    margin: 0 auto;
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.main5-items{
    width: 254px;
    height: 181px;
}
.main5-items img{
    width: 254px;
    height: 181px;
}
.main5-items img:hover{
    transition: all.5s;
    opacity: 0.8;
}
.main5-h4{
    text-align: center;
    line-height: 3.5;
}
.main5-h4 a{
   font-size: 16px;
   color: black;
}
.main5-h4 a:hover{
    transition: all .5s;
    color: #69c;
}
.main5-item{
    margin-right: 610px;
}
.main5-foot{
    width: 1170px;
    height: 68px;
    margin-bottom: 10px;
}
.main5-more{
    width: 180px;
    height: 48px;
    border: 2px solid #000;
    margin: 20px auto;
}
.main5-more{
    padding: 3px 3px;
    font-weight: 400;
    text-decoration: none;
    line-height: 2.8;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.main5-more a{
    color: #000;
}
.main5-more:hover{
    transition: all .5s;
    background-color: #3d3331;;
}
.main5-more a:hover{
    color: white;
}
.main6{
    width: 100%;
    height: 280px;
    position: relative;
    top: 82px;
    background-color: #302b28;
    background-image: url(../images//about-bg.png);
    background-repeat: no-repeat;
    background-position: center 12px;
}
.main6-1{
    width: 1170px;
    height: 275px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.main6-h2{
    text-align: center;
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5 ;
    padding-bottom: 25px;
    
}
.main6-1 p{
    color: rgba(255,255,255,0.70);
    text-align: left;
    text-indent: 30px;
    margin-top: 40px;
    font-size: 14px;
    line-height: 30px;
}
.main7{
    width: 100%;
    height: 685px;
    position: relative;
    top: 82px;
}
.main7-1{
    width: 1170px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.main7-h2{
    text-align: center;
    font-size: 26px;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5 ;
    padding-bottom: 25px;
    
}
.main7-2{
    width: 1170px;
    height: 500px;
    margin: -100px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main7-items{
    width: 585px;
    height: 242px;
}
.main7-items1 img{
    width: 200px;
    height: 128px;
}
.main7-items2{
    display: inline-block;
    width: 321px;
    vertical-align: top;
    padding-left: 15px;
}
.main7-items2 img{
    width: 19px;
    height: 9px;
}
.main7-items2 a{
    color: #3d3331;
}
.main7-items2 p{
    line-height: 30px;
    color: #666;
    font-size: 14px;
    margin-top: 10px;
}
.main7-span1 a{
    color: #666;
}
.main7-span1{
    width: 22px;
    height: 18px;
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/ny-news-bg.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding-left: 28px;
    margin-left: 10px;
    font-style: italic;
    font-size: 12px;
}
.main7-span2{
    width: 22px;
    height: 18px;
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/ny-news-bg.png);
    background-position: 0px -20px;
    background-repeat: no-repeat;
    padding-left: 28px;
    margin-left: 10px;
    font-style: italic;
    font-size: 12px;
}
.main7-span3{
    width: 22px;
    height: 18px;
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/ny-news-bg.png);
    background-position: 0px -44px;
    background-repeat: no-repeat;
    padding-left: 28px;
    margin-left: 10px;
    font-style: italic;
    font-size: 12px;
    color: red;
}
.main7-p{
    margin-top: 10px;
}
.main7-p2{
    margin-top: 3px;
}
.main7-foot{
    width: 1170px;
    height: 68px;
   
    margin: 50px auto;
}
.main7-fo{
    width: 180px;
    height: 48px;
    border: 2px solid #000;
    margin: 20px auto;
}
.main7-fo{
    padding: 3px 3px;
    font-weight: 400;
    text-decoration: none;
    line-height: 2.8;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.main7-fo a{
    color: #000;
}
.main7-fo:hover{
    transition: all .5s;
    background-color: #3d3331;;
}
.main7-fo a:hover{
    color: white;
}
.footer{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/bg-8.png);
    width: 100%;
    font-size: 12px;
    color: #919399;
    margin-top: 100px;
}
.footer-box{
    width: 1170px;
    margin: 0 auto;
    padding: 20px 0px;
}
.ft-1{
    display: inline-block;
    width: 342px;
    padding: 10px 23px 10px 0px;
    vertical-align: top;
}
.ft-h3{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    line-height: 48px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.form-ul li{
    height: 52px;
    list-style: none;
}
#xm{
    height: 40px;
    width: 263px;
    background-color: #FFF;
    color: #666;
    border-width: 0px;
    margin-bottom: 12px;
    vertical-align: middle;
    border-radius: 0px;
    padding-right: 10px;
    padding-left: 10px;
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/input-bg.png);
    background-repeat: no-repeat;
    background-position: right 0px;
}
#dh{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/input-bg.png);
    background-repeat: no-repeat;
    background-position: right -40px;
    height: 40px;
    width: 263px;
    background-color: #FFF;
    color: #666;
    border-width: 0px;
    margin-bottom: 12px;
    vertical-align: middle;
    border-radius: 0px;
    padding-right: 10px;
    padding-left: 10px;
}
#button1 {
    height: 44px;
    width: 263px;
    text-align: center;
    vertical-align: middle;
    border-width: 0px;
    background-color: #302b28;
    color: #FFF;
    font-size: 14px;
    border-radius: 0px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    cursor: pointer;
}
#button1:hover{
    transition: all .5s;
    /* color: #69c; */
    background-color: #69c;
}
.ft-2{
    display: inline-block;
    width: 44%;
    padding: 10px 0;
    vertical-align: top;
}
.ft2-box{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/address-bg.png);
    background-repeat: no-repeat;
    background-position: 0px top;
    padding-left: 30px;
    height: 112px;
}
.ft2-box li{
    list-style: none;
    height: 28px;
}
.ft-3{
    float: right;
    margin-top: 46px;
    width: 280px;
    height: 168px;
    text-align: center;
    padding: 0;
    vertical-align: top;
}
.ft-3 li{
    width: 118px;
    height: 168px;
    margin-left: 16px;
    float: right;
    list-style: none;
}
.ft-3 img{
    width: 118px;
}
.ft-4{
    border-top: 1px solid #333333;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
}
.ft-4 a{
    text-decoration: none;
    color: #919399;
}
.side{
    position: fixed;
    width: 54px;
    height: 275px;
    right: 0;
    bottom: 120px;
    z-index: 100;
}
.side ul li{
    width: 54px;
    height: 54px;
    float: left;
    position: relative;
    border-bottom: 1px solid #444444;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebox{
    width: 54px;
    opacity: 0.8;
    background: rgb(0, 0, 0);
    position: absolute;
    height: 54px;
    top: 0px;
    right: 0px;
    overflow: hidden;
}
.sidebox img{
    float: left;
    height: auto;
    vertical-align: middle;
    max-width: 100%;
}
.sidebox span{
    line-height: 50px;
    font-size: 14px;
    color: white;
}
.sidebox:hover{
    transition:  all .8s;
    width: 120px;
    height: 54px;
    background: red;
}
#sidebox:hover{
    transition:  all .8s;
    width: 54px;
    height: 54px;
    background: red;
}
